{% load static %}
<section class="LAUNCHER">
    {% include 'BODY/MAIN/COM/NAV_MENU_BUTTON.html' %}
    <nav v-if="nav_menu" class="nav_menu animate__animated animate__lightSpeedInLeft">
        <router-link to="/MEMO_TOP/1">メモ_一覧</router-link><br />
        <router-link to="/MEMO_FORM">メモ_フォーム</router-link><br />
        <router-link to="/MEMO_TOP_DEL/1">メモ_ゴミ箱</router-link><br />
    </nav>
    <nav>
        　課題名：
        <select v-model="TODO_DETAIL_ID" @change="CHANGE_nav_TODO_DETAIL_ID()">
            <option value="0">ALL</option>
            <option v-for="i_TODO_DETAIL in values_TODO_DETAIL" v-bind:value="i_TODO_DETAIL[0]">[[ i_TODO_DETAIL[1] ]]</option>
        </select>
        　メモ：
        <input type="text" class="value_MEMO_NOTE" v-model="value_MEMO_NOTE" @change="CHANGE_nav_MEMO_NOTE()">
    </nav>
</section>