{% load static %}
<script type="text/x-template" id="GENRE_TOP">
    <section>
        <h4>[[title]]</h4>
        {% include 'BODY/MAIN/GENRE/GENRE_NAV.html' %} {% include 'BODY/MAIN/COM/PAGE_NAV.html' %}
        <table class="table">
            <thead>
                <tr>
                    <th>項</th>
                    <th>種別項目</th>
                    <th>日付</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i_1,index in values">
                    <td>[[ index+1 ]]</td>
                    <td>[[ i_1[1] ]]</td>
                    <td>[[ i_1[2] ]]</td>
                    <td>
                        <router-link :to="`/GENRE_FORM/${i_1[0]}`"><button>更新</button></router-link>
                    </td>
                    <td><button>削除</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</script>