<script type="text/x-template" id="TODO_FORM">
    <section>
        <h3>[[title]]</h3>
        <table class="table">
            <tbody>
                <tr hidden>
                    <td>TODO_ID</td>
                    <td><input type="text" v-model="TODO_ID"></td>
                </tr>
                <tr>
                    <td>作業名</td>
                    <td><input type="text" v-model="TODO_NAME"></td>
                </tr>
                <tr>
                    <td>種別名</td>
                    <td><select v-model="GENRE_NAME">
                        <option v-for="i_GENRE in values_GENRE">[[ i_GENRE[1] ]]</option>
                    </select></td>
                </tr>
                <tr>
                    <td>優先度</td>
                    <td><select v-model="PRIOR_NAME">
                        <option v-for="i_PRIOR in values_PRIOR">[[ i_PRIOR[1] ]]</option>
                    </select></td>
                </tr>
                <tr>
                    <td>開始日</td>
                    <td><input type="text" v-model="TODO_STARTDATE"></td>
                </tr>
                <tr>
                    <td>納期</td>
                    <td><input type="text" v-model="TODO_ENDDATE"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button @click="axios_POST">[[ button_name ]]</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</script>