{% load static %}
<section class="page_nav_menu">
    <nav>
        <div v-if="page_max != 0">
            <img v-if="this.$route.params.PAGE != 1" src="{% static 'icon\arrow-left-circle.svg' %}" width="25" height="25" @click="PAGE_BUTTON(-1)" class="button_cursor" /> [[ this.$route.params.PAGE ]]/[[ page_max ]]
            <img v-if="this.$route.params.PAGE != page_max" src="{% static 'icon\arrow-right-circle.svg' %}" width="25" height="25" @click="PAGE_BUTTON(1)" class="button_cursor" />
        </div>
        <div v-else>
            1/1
        </div>
    </nav>
</section>