{% load static %}
<script type="text/x-template" id="GOAL_TOP">
    <section>
        <h4>[[title]]</h4>
        <div>{% include 'BODY/MAIN/GOAL/GOAL_LAUNCHER.html' %}</div>
        <div>{% include 'BODY/MAIN/COM/PAGE_NAV.html' %}</div>
        <table class="table">
            <thead>
                <tr>
                    
                    <th>種別名</th>
                    <th>目標名</th>
                    <th colspan="2"></th>
                    <th>日付</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i_1,index in values">
                    <td>[[ i_1[1] ]]</td>
                    <td>[[ i_1[2] ]]</td>
                    <td>[[ i_1[3] ]]</td>
                    <td>
                        <router-link :to="`/GOAL_FORM/${i_1[0]}`"><button>更新</button></router-link>
                    </td>
                    <td><button @click="axios_DEL( i_1[0] )">削除</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</script>