body {
    font-family: "Yu Mincho";
    overflow-y: scroll;
    user-select: none;
    font-size: 13.5px;
    margin-top: 20px;
    /* background-color: rgba(0,0,0,0.7); */
    /* background-color: rgba(169,169,169,0.6); */
}