{% load static %}
<script type="text/x-template" id="TODO_DETAIL_TOP">
    <section>
        <h4>[[title]]</h4>
        {% include 'BODY/MAIN/TODO_DETAIL/TODO_DETAIL_LAUNCHER.html' %}{% include 'BODY/MAIN/COM/PAGE_NAV.html' %}
        <table class="table">
            <thead>
                <tr>
                    <th hidden>TODO_DETAIL_ID</th>
                    <th>作業</th>
                    <th>進捗/課題</th>
                    <th>日付</th>
                    <th>期日</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i_1,index in values">
                    <td hidden>[[ i_1[0] ]]</td>
                    <td>[[ i_1[1] ]]</td>
                    <td><pre><span class="GREEN_COLOR">【[[ i_1[3] ]]】</span>[[ i_1[2] ]]</pre></td>
                    <td>[[ i_1[4] ]]</td>
                    <td>[[ i_1[5] ]]</td>
                    <td>
                        <router-link :to="`/TODO_DETAIL_FORM/${i_1[0]}`"><button>更新</button></router-link>
                    </td>
                    <td><button @click="axios_DEL( i_1[0] )">削除</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</script>