{% load static %}
<script type="text/x-template" id="TODO_DETAIL_FORM">
    <section>
        <h4>[[title]]</h4>
        <table class="table">
            <tbody>
                <tr hidden>
                    <td>TODO_ID</td>
                    <td><input type="text" v-model="TODO_DETAIL_ID"></td>
                </tr>
                <tr>
                    <td>作業名</td>
                    <td><select v-model="TODO_HEADER_NAME">
                        <option v-for="i_TODO_HEADER_NAME in values_TODO_HEADER">[[ i_TODO_HEADER_NAME[0] ]]</option>
                    </select></td>
                </tr>
                <tr>
                    <td>課題名</td>
                    <td><input type="text" v-model="TODO_DETAIL_NAME"></td>
                </tr>
                <tr>
                    <td>優先度</td>
                    <td><select v-model="PRIOR_NAME">
                        <option v-for="i_PRIOR in values_PRIOR">[[ i_PRIOR[0] ]]</option>
                    </select></td>
                </tr>
                <tr>
                    <td>開始日</td>
                    <td><input type="text" v-model="TODO_DETAIL_STARTDATE"></td>
                </tr>
                <tr>
                    <td>期日</td>
                    <td><input type="text" v-model="TODO_DETAIL_ENDDATE"></td>
                </tr>
                {% include 'BODY\MAIN\COM\COMBO_VISIBLESTATUS.html' %}
                <tr>
                    <td></td>
                    <td><button @click="axios_POST">[[ button_name ]]</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</script>